In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("dataset.csv",sep=",")

In [5]:
data.astype("object").describe()

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,hour,minute,second,seconds,Label
count,255294,255294,255294,255294,255294,255294,255294,255294,255294,255294,255294,255294
unique,880,16826,1,2070,3,3,6913,14,60,60,7233,2
top,18.218.229.235,443,172.31.69.28,80,6,22/02/2018,11:41:33,0,47,18,85293,ddos
freq,25400,1722,255294,250274,254946,127107,197,127107,9849,4398,197,250274

In [6]:
data[data["time"]=="11:41:33"].groupby("Label").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,hour,minute,second,seconds
Label,,,,,,,,,,,
ddos,197,197,197,197,197,197,197,197,197,197,197

In [7]:
data.groupby("Label").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,hour,minute,second,seconds
Label,,,,,,,,,,,
Benign,5020,5020,5020,5020,5020,5020,5020,5020,5020,5020,5020
ddos,250274,250274,250274,250274,250274,250274,250274,250274,250274,250274,250274

In [8]:
data[data["Label"]=="Benign"].groupby("day").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,time,hour,minute,second,seconds,Label
day,,,,,,,,,,,
20/02/2018,5020,5020,5020,5020,5020,5020,5020,5020,5020,5020,5020

In [9]:
data[data["Label"]=="Benign"].groupby("hour").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,minute,second,seconds,Label
hour,,,,,,,,,,,
1,461,461,461,461,461,461,461,461,461,461,461
2,647,647,647,647,647,647,647,647,647,647,647
3,696,696,696,696,696,696,696,696,696,696,696
4,708,708,708,708,708,708,708,708,708,708,708
5,155,155,155,155,155,155,155,155,155,155,155
8,372,372,372,372,372,372,372,372,372,372,372
9,521,521,521,521,521,521,521,521,521,521,521
10,529,529,529,529,529,529,529,529,529,529,529
11,564,564,564,564,564,564,564,564,564,564,564
12,367,367,367,367,367,367,367,367,367,367,367

In [15]:
data[(data["Label"]=="Benign") & (data["hour"]==12)].groupby("minute").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,hour,second,seconds,Label
minute,,,,,,,,,,,
0,9,9,9,9,9,9,9,9,9,9,9
1,5,5,5,5,5,5,5,5,5,5,5
2,7,7,7,7,7,7,7,7,7,7,7
3,5,5,5,5,5,5,5,5,5,5,5
4,5,5,5,5,5,5,5,5,5,5,5
5,2,2,2,2,2,2,2,2,2,2,2
6,2,2,2,2,2,2,2,2,2,2,2
7,13,13,13,13,13,13,13,13,13,13,13
8,6,6,6,6,6,6,6,6,6,6,6
9,2,2,2,2,2,2,2,2,2,2,2
10,5,5,5,5,5,5,5,5,5,5,5
11,5,5,5,5,5,5,5,5,5,5,5
12,5,5,5,5,5,5,5,5,5,5,5
13,6,6,6,6,6,6,6,6,6,6,6
14,6,6,6,6,6,6,6,6,6,6,6
15,3,3,3,3,3,3,3,3,3,3,3
16,6,6,6,6,6,6,6,6,6,6,6
17,4,4,4,4,4,4,4,4,4,4,4
18,6,6,6,6,6,6,6,6,6,6,6
19,10,10,10,10,10,10,10,10,10,10,10
20,3,3,3,3,3,3,3,3,3,3,3
21,2,2,2,2,2,2,2,2,2,2,2
22,20,20,20,20,20,20,20,20,20,20,20
23,7,7,7,7,7,7,7,7,7,7,7
24,12,12,12,12,12,12,12,12,12,12,12
25,21,21,21,21,21,21,21,21,21,21,21
26,6,6,6,6,6,6,6,6,6,6,6
27,6,6,6,6,6,6,6,6,6,6,6
28,4,4,4,4,4,4,4,4,4,4,4
29,8,8,8,8,8,8,8,8,8,8,8
30,3,3,3,3,3,3,3,3,3,3,3
31,7,7,7,7,7,7,7,7,7,7,7
32,2,2,2,2,2,2,2,2,2,2,2
33,9,9,9,9,9,9,9,9,9,9,9
34,3,3,3,3,3,3,3,3,3,3,3
35,5,5,5,5,5,5,5,5,5,5,5
36,4,4,4,4,4,4,4,4,4,4,4
37,8,8,8,8,8,8,8,8,8,8,8
38,10,10,10,10,10,10,10,10,10,10,10
39,5,5,5,5,5,5,5,5,5,5,5
40,7,7,7,7,7,7,7,7,7,7,7
41,3,3,3,3,3,3,3,3,3,3,3
42,4,4,4,4,4,4,4,4,4,4,4
43,9,9,9,9,9,9,9,9,9,9,9
44,7,7,7,7,7,7,7,7,7,7,7
45,4,4,4,4,4,4,4,4,4,4,4
46,3,3,3,3,3,3,3,3,3,3,3
47,5,5,5,5,5,5,5,5,5,5,5
48,10,10,10,10,10,10,10,10,10,10,10
49,9,9,9,9,9,9,9,9,9,9,9
50,5,5,5,5,5,5,5,5,5,5,5
51,10,10,10,10,10,10,10,10,10,10,10
52,7,7,7,7,7,7,7,7,7,7,7
53,2,2,2,2,2,2,2,2,2,2,2
54,5,5,5,5,5,5,5,5,5,5,5
55,4,4,4,4,4,4,4,4,4,4,4
56,5,5,5,5,5,5,5,5,5,5,5
57,2,2,2,2,2,2,2,2,2,2,2
58,4,4,4,4,4,4,4,4,4,4,4
59,5,5,5,5,5,5,5,5,5,5,5

In [68]:
data[data["Label"]=="ddos"].groupby("day").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,time,hour,minute,second,seconds,Label
day,,,,,,,,,,,
21/02/2018,123167,123167,123167,123167,123167,123167,123167,123167,123167,123167,123167
22/02/2018,127107,127107,127107,127107,127107,127107,127107,127107,127107,127107,127107

In [74]:
data[(data["Label"]=="ddos") & (data["day"]=="22/02/2018")].groupby("hour").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,minute,second,seconds,Label
hour,,,,,,,,,,,
0,127107,127107,127107,127107,127107,127107,127107,127107,127107,127107,127107

In [75]:
data[(data["Label"]=="ddos") & (data["day"]=="22/02/2018") & (data["hour"]==0)].groupby("minute").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,hour,second,seconds,Label
minute,,,,,,,,,,,
0,4288,4288,4288,4288,4288,4288,4288,4288,4288,4288,4288
1,4160,4160,4160,4160,4160,4160,4160,4160,4160,4160,4160
2,4220,4220,4220,4220,4220,4220,4220,4220,4220,4220,4220
3,4287,4287,4287,4287,4287,4287,4287,4287,4287,4287,4287
4,4352,4352,4352,4352,4352,4352,4352,4352,4352,4352,4352
5,4277,4277,4277,4277,4277,4277,4277,4277,4277,4277,4277
6,4356,4356,4356,4356,4356,4356,4356,4356,4356,4356,4356
7,4314,4314,4314,4314,4314,4314,4314,4314,4314,4314,4314
8,4227,4227,4227,4227,4227,4227,4227,4227,4227,4227,4227
9,4169,4169,4169,4169,4169,4169,4169,4169,4169,4169,4169
10,4079,4079,4079,4079,4079,4079,4079,4079,4079,4079,4079
11,4084,4084,4084,4084,4084,4084,4084,4084,4084,4084,4084
12,3819,3819,3819,3819,3819,3819,3819,3819,3819,3819,3819
13,3881,3881,3881,3881,3881,3881,3881,3881,3881,3881,3881
14,3861,3861,3861,3861,3861,3861,3861,3861,3861,3861,3861
15,3808,3808,3808,3808,3808,3808,3808,3808,3808,3808,3808
16,3718,3718,3718,3718,3718,3718,3718,3718,3718,3718,3718
17,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681
18,3753,3753,3753,3753,3753,3753,3753,3753,3753,3753,3753
19,3584,3584,3584,3584,3584,3584,3584,3584,3584,3584,3584
20,3556,3556,3556,3556,3556,3556,3556,3556,3556,3556,3556
21,3202,3202,3202,3202,3202,3202,3202,3202,3202,3202,3202
22,3078,3078,3078,3078,3078,3078,3078,3078,3078,3078,3078
23,3122,3122,3122,3122,3122,3122,3122,3122,3122,3122,3122
24,2994,2994,2994,2994,2994,2994,2994,2994,2994,2994,2994
25,2999,2999,2999,2999,2999,2999,2999,2999,2999,2999,2999
26,2888,2888,2888,2888,2888,2888,2888,2888,2888,2888,2888
27,2841,2841,2841,2841,2841,2841,2841,2841,2841,2841,2841
28,2987,2987,2987,2987,2987,2987,2987,2987,2987,2987,2987
29,2895,2895,2895,2895,2895,2895,2895,2895,2895,2895,2895
30,2858,2858,2858,2858,2858,2858,2858,2858,2858,2858,2858
31,2970,2970,2970,2970,2970,2970,2970,2970,2970,2970,2970
32,2708,2708,2708,2708,2708,2708,2708,2708,2708,2708,2708
33,2814,2814,2814,2814,2814,2814,2814,2814,2814,2814,2814
34,2637,2637,2637,2637,2637,2637,2637,2637,2637,2637,2637
35,1640,1640,1640,1640,1640,1640,1640,1640,1640,1640,1640

In [77]:
data[(data["Label"]=="ddos") & (data["day"]=="21/02/2018")].groupby("hour").agg("count")

,Src IP,Src Port,Dst IP,Dst Port,Protocol,day,time,minute,second,seconds,Label
hour,,,,,,,,,,,
19,203,203,203,203,203,203,203,203,203,203,203
20,135,135,135,135,135,135,135,135,135,135,135
23,122829,122829,122829,122829,122829,122829,122829,122829,122829,122829,122829

In [84]:
data[data["seconds"]==85293].groupby(["day","hour","Src IP","Label"]).agg("count")

                                      Src Port  Dst IP  Dst Port  Protocol  \
day        hour Src IP         Label
21/02/2018 23   18.216.200.189 ddos         19      19        19        19
                18.216.24.42   ddos         21      21        21        21
                18.218.11.51   ddos         21      21        21        21
                18.218.115.60  ddos         24      24        24        24
                18.218.229.235 ddos         21      21        21        21
                18.218.55.126  ddos         25      25        25        25
                18.219.32.43   ddos         14      14        14        14
                18.219.5.43    ddos         20      20        20        20
                18.219.9.1     ddos         19      19        19        19
                52.14.136.135  ddos         13      13        13        13

                                      time  minute  second  seconds
day        hour Src IP         Label
21/02/2018 23   18.216.200.189 ddos     19      19      19       19
                18.216.24.42   ddos     21      21      21       21
                18.218.11.51   ddos     21      21      21       21
                18.218.115.60  ddos     24      24      24       24
                18.218.229.235 ddos     21      21      21       21
                18.218.55.126  ddos     25      25      25       25
                18.219.32.43   ddos     14      14      14       14
                18.219.5.43    ddos     20      20      20       20
                18.219.9.1     ddos     19      19      19       19
                52.14.136.135  ddos     13      13      13       13